[core]
	editor = nvim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	pager = view
	autocrlf = input
	quotepath = false
[web]
	browser = google-chrome
[push]
	default = current
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[diff]
	tool = nvim -d
[pager]
	log = less
	show = less
	diff = less
	branch = false
	reflog = false
[alias]
	co = checkout
	cob = checkout -b
	s = status
	a = add
	aa = add .
	au = add -u
	c = commit
	cm = commit -m
	b = branch
	br = branch -r
	pso = push origin
	psof = push -f origin
	plo = pull origin
	plom = pull origin master
	l = log
	d = diff
	dca = diff --cached
	dt = difftool
	dtca = difftool --cached
	st = stash
	pop = stash pop
	r = rebase
	ri = rebase -i
	rco = rebase --continue
	rab = rebase --abort
	rmrca = rm -r --cached

	amend = commit --amend -C HEAD
	reward = commit --amend -c HEAD
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	logg = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cr %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
	mergelog = log --merges --pretty=format:'%C(yellow)%h %Cgreen%ci %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
	history = log --graph --date=short --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cd %Cblue%cn%Cred%d %Creset%s'
	unmerged = !git --no-pager diff --name-only --diff-filter=U
	sync = !git checkout master && git pull origin master && git fetch -p origin && git branch -d $(git branch --merged | grep -v master | grep -v '*')
	discard-local = fetch origin && reset --hard origin/master
	lbd = !for i in {1..$1}\
		do\
		git diff HEAD~ HEAD\
		git checkout HEAD~\
		done

	k = !gitk&
	pullall = !git pull && git submodule update --init --recursive
	graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    vacuum = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|main|master'|xargs git branch -d; };f"

[merge]
	tool = nvim
	prompt = false
[mergetool "nvim"]
	cmd = nvim -c '2wincmd w | diffthis | 3wincmd w | diffthis | 1wincmd w | wincmd J' -O $MERGED $LOCAL $REMOTE
[diff]
	tool = nvim
	prompt = false
[difftool "nvim"]
[include]
	path = .gitconfig.local
[submodule]
	recurse = true
[fetch]
	prune = true
[pull]
	ff = only
